{% extends "cashagenda/layouts/base.html" %}

{% block title %} {{ page_title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">

{% if variant == "edit" %}
<h2 class="h5 mb-4"> {{ object }} </h2>

<form action="{% url form_action object.pk %}" method="post" enctype="multipart/form-data">
{% elif variant == "new" %}
<h2> {{ page_title }} </h2>

<form action="{% url form_action %}" method="post" enctype="multipart/form-data">
{% endif %}
    {% csrf_token %}
    <ul>
    {% for non_field_error in form.non_field_errors %}
    <li class="text-danger"><p class="text-danger mb-0">{{ non_field_error }}</p></li>
    {% endfor %}
    </ul>
    <div class="row">
        <div class="col-sm-4 mb-3">
            {{ form.sum.errors }}
            {{ form.sum.label_tag }}
            {{ form.sum }}
        </div>
        {% if form.sum_diff %}
        <div class="col-sm-4 mb-3">
            {{ form.sum_diff.errors }}
            {{ form.sum_diff.label_tag }}
            {{ form.sum_diff }}
        </div>
        {% endif %}
        <div class="col-sm-4 mb-3">
            {{ form.currency.errors }}
            {{ form.currency.label_tag }}
            {{ form.currency }}
        </div>
    </div>
    <div class="row">
        {% if form.sum_in %}
        <div class="col-sm-4 mb-3">
            {{ form.sum_in.errors }}
            {{ form.sum_in.label_tag }}
            {{ form.sum_in }}
        </div>
        {% endif %}
        {% if form.currency_in %}
        <div class="col-sm-4 mb-3">
            {{ form.currency_in.errors }}
            {{ form.currency_in.label_tag }}
            {{ form.currency_in }}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-4 mb-3">
            {{ form.account.errors }}
            {{ form.account.label_tag }}
            {{ form.account }}
        </div>
        {% if form.account_in %}
        <div class="col-sm-4 mb-3">
            {{ form.account_in.errors }}
            {{ form.account_in.label_tag }}
            {{ form.account_in }}
        </div>
        {% endif %}
        {% if form.budget %}
        <div class="col-sm-4 mb-3">
            {{ form.budget.errors }}
            {{ form.budget.label_tag }}
            {{ form.budget }}
        </div>
        {% endif %}
    </div>
    <div class="fieldWrapper">
        {{ form.comment.errors }}
        {{ form.comment.label_tag }}
        {{ form.comment }}
    </div>
    <div class="row">
        {{ form.date.errors }}
        {{ form.date.label_tag }}
        {{ form.date }}
    </div>
    <div class="fieldWrapper">
        {{ form.photo.errors }}
        {{ form.photo.label_tag }}
        {{ form.photo }}
    </div>
    <button class="btn btn-lg btn-outline-success" type=submit>Save&ampClose</button>
    {% comment %} <button class="btn btn-lg btn-outline-danger" type=reset>Escape</button> {% endcomment %}
    <a class="btn btn-lg btn-outline-danger" href="{% url 'cashagenda_journals' %}">Escape</a>
</form>

</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% if form.sum_diff %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
    }

    function calculateBalance (e) {
        e.preventDefault();
        $.ajax({
            url: "{% url 'cashagenda_ajax_getbalance' %}",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({payload: {"acc_id": $("#id_account").val(),
                                            "cur_id": $("#id_currency").val(),
                                            "date_str": $("#id_date_0").val() + " " + $("#id_date_1").val(),
                                            {% if object %}
                                            "doc_id": {{ object.pk }}
                                            {% else %}
                                            "doc_id": ""
                                            {% endif %}
                                            },}),
            headers: {
            "X-Requested-With": "XMLHttpRequest",
            "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
            },
                success: (data) => {
                console.log(data["balance"]);
                $("#id_sum_diff").val(($("#id_sum").val() - data["balance"]).toFixed(2));
                },
                error: (error) => {
                console.log(error);
            }
        });
    }
    // focusout
    $("#id_sum").change(calculateBalance)
    $("#id_account").change(calculateBalance)
    $("#id_currency").change(calculateBalance)
    $("#id_date_0").change(calculateBalance)
    $("#id_date_1").change(calculateBalance)
</script>
{% endif %}

{% endblock javascripts %}