{% extends "cashagenda/layouts/base.html" %}

{% block title %} {{ page_title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h2> {{ object }} </h2>

<form action="{% url form_action object.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-lg btn-outline-success" type=submit>Save&ampClose</button>
    {% comment %} <button class="btn btn-lg btn-outline-danger" type=reset>Escape</button> {% endcomment %}
    <a class="btn btn-lg btn-outline-danger" href="{% url 'cashagenda_journals' %}">Escape</a>
</form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}